<h1>Meu primeiro componente</h1>
<ul>
  <p class="text-center" *ngIf="tarefas.length==0"><small>Você não tem nenhuma tarefa hoje!</small></p>
  <li *ngFor="let tarefa of tarefas"> {{tarefa.id}}. {{tarefa.descricaoTarefa}} - 
    <button *ngIf="!tarefa.concluida" (click)="concluirTarefa(tarefa)">CONCLUIR</button> | 
    <button *ngIf="tarefa.concluida" (click)="reabrirTarefa(tarefa)">REFAZER</button> |     
    <button (click)="removerTarefa(tarefa)">REMOVER</button></li>
</ul>

<form [formGroup]="form">
  <fieldset>
    <label>Tarefa: </label>
    <input type="text" placeholder="Título da Tarefa" maxlength="60" formControlName="descricaoTarefa">
    <button [disabled]="form.invalid" (click)="adicionarTarefa()">Salvar</button>
  </fieldset>
</form>